@import '../../../../sass/abstracts/variables.scss';

.FavButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  margin-left: 1.2rem;
  border-radius: 1rem;
  transition: background-color .1s ease;
  cursor: pointer;
  &:hover {
    background-color: $color-light-gray-hover;
  }
  &__item {
    width: 80%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: .5rem;
  }
}