@import "../../../../sass/abstracts/variables.scss";

.FavButton {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 1.4rem;
  padding: 0.8rem;
  transition: background-color 0.1s ease;
  cursor: pointer;
  &:hover {
    background-color: $color-gray-hover;
  }
}
