@import '../../../../sass/abstracts/variables.scss';
@import '../../../../sass/abstracts/animations.scss';

.ProfileButton {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  height: 90%;
  background-color: $color-gray;
  border-radius: 100%;
  cursor: pointer;
  @include scale-animation-on-button;

  &__item {
    fill: $color-white;
    width: 2.3rem;
  }
  &__round {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-profile;
    height: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
  }
  &__monogram {
    font-size: 1.6rem;
    color: $color-black;
    font-weight: 500;
  }

}