@import 'normalize.css';
@import './abstracts/variables.scss';

html {
  font-size: 62.5%;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  background: $color-black;
  height: 100%;
}

/* Стилизация скроллбара */
::-webkit-scrollbar {
  display: none;
  width: 1.2rem;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent; /* Цвет трека */
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}