//Mixins-utilities

@mixin fluid-text-rem($min, $max) {
  font-size: clamp(#{$min}rem, #{calc($max / 80 * 100)}vw, #{$max}rem);
}


@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}