.txt-center {
    text-align: center;
}

//padding

.pd-tb-4 {
    padding: 4rem 0rem 4rem 0;
}

.pd-tb-6 {
    padding: 6rem 0rem 6rem 0;
}
.pd-tb-10 {
    padding: 10rem 0rem 10rem 0;
}
//margin

.mb-2 {
    margin-bottom: 4rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-6 {
    margin-bottom: 6rem;
}