//Colors
$color-black : #000;
$color-white : #fff;
$color-medium-gray: #212121;
$color-gray: hsl(0, 0%, 7%);
$color-gray-hover: #2d2d2d;
$color-light-gray: #b0b0b0;
$color-light-gray-hover: #b4b4b4;
$color-profile: rgb(80, 155, 245);
$color-accent-primary: hsl(169, 64%, 68%);
$color-accent-hover: #92FAE7;

//Shadow
$play-button-shadow: 0px 8px 10px rgba(33,33,33,0.5);

//Fonts
$widget-font: 1.2rem;