@import "../../../../sass/abstracts/variables.scss";

.FinderBulb {
  position: relative;
  height: 100%;
  &:hover {
    .FinderBulb__input {
      background-color: $color-gray-hover;
    }
    .SearchIcon__item {
      fill: $color-white;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1.5rem;
    border-radius: 50rem;
    padding: 0rem 25rem 0rem 6rem;
    border: none;
    background-color: $color-medium-gray;
    color: $color-white;
    caret-color: $color-white;
    font-weight: 400;
    transition: background-color .2s ease;
    &::placeholder {
      color: $color-light-gray;
    }
  }

}
