@import '../../../../sass/abstracts/variables.scss';

.Cover__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 1.4rem;
  transition: all .1s ease;
  padding: .8rem;
  cursor: pointer;
  &:hover {
    background-color: $color-gray-hover;
  }
  &__item {
    width: calc(100% - 2rem);
    aspect-ratio: 1 / 1;
    border-radius: .5rem;
    object-fit: cover;
  }
}