@import '../../../../sass/abstracts/variables.scss';

.Cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  transition: all .1s ease;
  cursor: pointer;
  &:hover {
    background-color: $color-light-gray20Op;
  }
  &__item {
    width: 80%;
    aspect-ratio: 1 / 1;
    border-radius: .5rem;
    object-fit: cover;
  }
}