@import "../../../../../sass/abstracts/variables.scss";

.SliderButtons {
  display: flex;
  justify-content: center;
  opacity: 0;
  z-index: 4;
  position: absolute;
  bottom: 50%;
  width: 4rem;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: $color-medium-gray;
  padding: 0rem 0rem;
  cursor: pointer;
  transition: transform .3s ease-in, opacity .2s ease-in-out, background-color .2s ease;
  &:hover {
    background-color: $color-light-gray-hover;
    .SliderButtons__img {
      fill: $color-white;
    }
  }

  &__left {
    left: 0;
  }

  &__right {
    right: 0;
  }

  &__left.visible {
    transform: translateX(2rem);
    opacity: 1;
  }

  &__right.visible {
    transform: translateX(-2rem);
    opacity: 1;
  }

  &__img {
    fill: $color-light-gray;
    width: 1.2rem;
    transition: fill .2s ease;
  }
}


.SliderButtons__left {
  .SliderButtons__img {
    transform: translateX(-10%);
  }
}
.SliderButtons__right {
  .SliderButtons__img {
    transform: translateX(10%);
  }
}