@import '../../sass/abstracts/variables.scss';

.Header {
  display: grid;
  align-items: center;
  color: $color-white;
  grid-column: 1 / -1;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.5rem 2rem;
  height: 5rem;
}