@import '../../../../../sass/abstracts/variables.scss';

.SearchIcon {
  &__item {
    position: absolute;
    fill: $color-light-gray;
    width: 2.5rem;
    height: 2.5rem;
    top: 1.35rem;
    left: 2rem;
    transition: fill .1s ease;
  }
}