@import '../../../../sass/abstracts/variables.scss';
@import '../../../../sass/abstracts/animations.scss';

.HomeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  height: 100%;
  background-color: $color-medium-gray;
  border-radius: 100%;
  cursor: pointer;
  @include scale-animation-on-button;

  .HomeButton__item {
    fill: $color-white;
    width: 2.3rem;
  }
}