@import '../../sass/abstracts/variables.scss';

.Footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  display: grid;
  align-items: center;
  color: $color-white;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 .8rem 2rem .8rem;
}